:root {
  --green: #22a13d;
  --red: #c70000;
  --primary-color: #cfcfcfd1;
  --secondary-color: #ebebeb;
  --grey: #5d6169;
}

body>#root>div {
  height: 100vh;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins";
  margin: 0;
}

.main {
  margin: 25px;
  padding: 25px;
}

header {
  display: block;
  background-color: #fff;
  box-shadow: 0 4px 4px #00000029;
  /*  Sticky top  */
  position: sticky;
  top: 0;
  /* transform: translateY() will be setup by JS */
  overflow: hidden;
}

header nav {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: var(--secondary-color);
  color: #fff;
}

header nav>.container {
  display: flex;
  align-items: center;
}

header nav a {
  color: inherit;
  text-decoration: none;
}

header .nav {
  display: flex;
  width: fit-content;
}

header .nav.right {
  margin-left: auto;
}

header .nav>* {
  display: block;
  margin-left: 1em;
}

.btn {
  border: none;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.user-name {
  color: #3d8452;
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.container {
  width: 100%;
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0.5rem;
}

.login-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.5rem;
}

.profile-card {
  background: #ebebeb;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

.profile-card-update {
  background: #ebebeb;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  width: 50%;
}

.profile-card:hover {
  background-color: #fff;
  transition: all 0.1s;
  /* transform: scale(1); */
  cursor: pointer;
}

img {
  border-radius: 50%;
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.update-container {
  grid-template-columns: 1fr;
}

.input-box {
  margin-top: 15px;
}

.text-box {
  height: 3rem;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  margin: 2%;
  width: 30%;
  height: 3.5rem;
  background: #8c8c8c;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {}

.success {
  background-color: var(--green);
}

.delete {
  background-color: var(--red);
}

.arrow-icon {
  width: 2rem;
}

.arrow-div {
  align-content: center;
  cursor: pointer;
}

.profile-head {
  display: flex;
  margin: 0 9%;
}

.heading {
  margin-left: 1%;
}

.error {
  color: red;
}

.search {
  margin-left: auto;
}

.w-20 {
  width: 20rem;
}

.w-80p {
  width: 80%;
}

.w-100p {
  width: 100%;
}

.btn-yes {
  background-color: var(--green) !important;
  width: 10rem;
  height: 2rem;
  font-size: 15px !important;
}

.btn-no {
  background-color: var(--red) !important;
  width: 10rem;
  height: 2rem;
  font-size: 15px !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.left {
  margin-left: 20px;
  margin-top: 20px;
}